.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content {
  overflow-y: auto;
  padding-right: 4px;
}

.modal-buttons {
  display: flex;
  gap: 0.56rem;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  background: white;
  padding-top: 0.5rem;
}

.modal-data {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.modal-label {
  color: var(--color-font);
  font-weight: bolder;
}
