.page {
  max-width: 768px;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.logo {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.select {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

.select:focus {
  outline: none;
}

.foot {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

/*=== card ===*/

.card-subtitle {
  margin-top: -0.5rem;
  font-size: 0.8rem;
  color: var(--color-font);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--color-font);
}

#card-title-list {
  text-align: left;
}

.card-list,
.card-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  ;
}

.card-list {
  margin-bottom: 0.5rem;
}

.card-obs {
  text-align: left;
}

.contatos {
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
  gap: 1rem;
  margin: 0.5rem 0;
}

.contatos a {
  color: var(--color-font);
}

.card-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/*=== form ===*/

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.form-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-title {
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--color-font);
}

.form-button {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-companion .button {
  margin-top: 1rem;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
